@import url('https://rsms.me/inter/inter.css');

:root {
	--font-jetbrains: 'JetBrains Mono', monospace;
	--font-inter: 'Inter var', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		--font-inter: 'Inter var', sans-serif;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
	font-family: var(--font-inter);
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

html {
	font-size: 1rem;
	font-variant: none;
	color: 'black';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-size: 0.875rem;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

[data-backdrop] {
	background-color: rgb(0 0 0 / 10%);
}

@keyframes slide-up {
	0% {
		opacity: 0;
		bottom: -100%;
	}

	100% {
		opacity: 0;
		bottom: -100%;
	}
}

.resizer {
	position: absolute;
	right: -12px;
	top: -12px;
	height: 2.75rem;
	width: 5px;
	background: rgba(0, 0, 0, 0.5);
	cursor: col-resize;
	user-select: none;
	touch-action: none;
}

.resizer.isResizing {
	background: blue;
	opacity: 1;
}

@media (hover: hover) {
	.resizer {
		opacity: 0;
	}

	*:hover > .resizer {
		opacity: 1;
	}
}
