@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/inter.woff2') format('woff2');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/jetbrains.ttf') format('truetype');
}

:root {
	--font-jetbrains: 'JetBrains Mono', monospace;
	--font-inter: 'Inter var', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
	font-family: var(--font-inter);
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

html {
	font-size: 1rem;
	font-variant: none;
	color: 'black';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-size: 0.875rem;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 50;
	margin: auto;
	margin-bottom: 0;
	display: flex;
	max-height: 70vh;
	min-height: 40vh;
	width: 100%;
	max-width: 100%;
	flex-direction: column;
	gap: 32px;
	overflow: auto;
	border-radius: 12px;
	padding: 16px;
	animation: slideUp 350ms cubic-bezier(0.15, 1.15, 0.6, 1);
}

.dialog > * {
	animation: fadeIn 150ms ease;
}

.dialog hr {
	border-color: hsla(204, 5%, 24%, 50%);
}

[data-backdrop] {
	background-color: rgb(0 0 0 / 10%);
}

@keyframes slide-up {
	0% {
		opacity: 0;
		bottom: -100%;
	}

	100% {
		opacity: 0;
		bottom: -100%;
	}
}

.resizer {
	position: absolute;
	right: -12px;
	top: -12px;
	height: 2.75rem;
	width: 5px;
	background: rgba(0, 0, 0, 0.5);
	cursor: col-resize;
	user-select: none;
	touch-action: none;
}

.resizer.isResizing {
	background: blue;
	opacity: 1;
}

@media (hover: hover) {
	.resizer {
		opacity: 0;
	}

	*:hover > .resizer {
		opacity: 1;
	}
}

@media (min-width: 40rem) {
	.dialog {
		top: 0px;
		margin-bottom: auto;
		height: fit-content;
		min-height: initial;
		max-width: min(calc(100% - 32px), 560px);
		max-height: calc(100% - 32px);
	}
}

#table-header {
	scrollbar-width: none; /* Firefox */
}
#table-header::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
