@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/inter.woff2') format('woff2');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/jetbrains.ttf') format('truetype');
}

@layer base {
	:root {
		--font-jetbrains: 'JetBrains Mono', monospace;
		--font-inter: 'Inter var', sans-serif;
		--text-disabled: #757575;
	}

	* {
		min-width: 0;
		text-wrap: pretty;
	}

	html {
		font-family: var(--font-inter);
		line-height: inherit;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	html.dark {
		--text-disabled: #999999;
	}

	body {
		@apply bg-[#ffffff] dark:bg-[#17181c] text-sm;
	}

	#__next {
		@apply flex flex-col w-full relative min-h-full isolate lg:flex-row text-[#1F1F1F] bg-[#ffffff] dark:text-[#FAFAFA] dark:bg-[#17181c];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	button {
		@apply pointer-events-auto cursor-pointer touch-none select-none outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed data-[focus-visible]:outline;
	}

	a,
	input,
	textarea,
	select {
		@apply outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed;
	}

	input,
	textarea,
	select {
		@apply rounded-none text-inherit;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		@apply block max-w-full;
	}

	details summary::-webkit-details-marker {
		@apply hidden;
	}
}
