@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Inter var';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/inter.woff2') format('woff2');
	}
	
	@font-face {
		font-family: 'JetBrains Mono';
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url('/fonts/jetbrains.ttf') format('truetype');
	}
	
	:root {
		--font-jetbrains: 'JetBrains Mono', monospace;
		--font-inter: 'Inter var', sans-serif;
		--text-disabled: #757575;
	}

	* {
		min-width: 0;
		text-wrap: pretty;
	}

	html {
		font-family: var(--font-inter);
		line-height: inherit;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	html.dark {
		--text-disabled: #999999;
	}

	body {
		@apply bg-[#ffffff] dark:bg-[#17181c] text-sm;
	}

	#__next {
		@apply flex flex-col w-full relative min-h-full isolate lg:flex-row text-[#1F1F1F] bg-[#ffffff] dark:text-[#FAFAFA] dark:bg-[#17181c];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	button {
		@apply pointer-events-auto cursor-pointer touch-none select-none outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed data-[focus-visible]:outline;
	}

	a,
	input,
	textarea,
	select {
		@apply outline-2 outline-offset-2 focus-visible:outline disabled:cursor-not-allowed;
	}

	input,
	textarea,
	select {
		@apply rounded-none text-inherit;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		@apply block max-w-full;
	}

	details summary::-webkit-details-marker {
		@apply hidden;
	}

	#table-header {
		scrollbar-width: none; /* Firefox */
	}
	#table-header::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
}

@layer components {
	.dialog {
		@apply fixed top-0 left-0 bottom-0 right-0 z-50 m-auto mb-0 flex flex-col gap-8 overflow-auto p-4 rounded-t-xl w-full max-w-full min-h-[40vh] max-h-[70vh] sm:mb-auto sm:h-fit sm:min-h-[initial] sm:max-h-[calc(100%_-_32px)] sm:max-w-[min(calc(100%_-_32px),560px)] sm:rounded-xl;
	}

	[data-backdrop] {
		@apply bg-black/40;
	}
}

@layer utilities {
}
